<div class="content">
<% if user_signed_in? %>
<!-- play here to modify the alerts. hide / fade etc.. -->
<script>
    $(document).ready(function() {
      $(".alert-warning").hide();
    });
</script>
<!-- -->

<!-- beggining of bootstrap jumbotron and the messabe box where teh chat appears -->

<div class="jumbotron">
  <h1 style="text-align: center">myChat!</h1>
  <div class="well" id="chatbox" style="height:250px; border: solid 1px #222222; overflow-y: scroll">
    <% @messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>
  
  <%= form_with model: @message do |f| %>
  <div class="input-group mb-3">
    <%= f.text_field :body, placeholder: "Say something...", class: "form-control" %>
    <div class="input-group-append">
      <%= f.submit "Send", class: "btn btn-info" %>
    </div>
  </div>
  <% end %>
  <% else %>
  <p style="text-align: center">
    You need to be <%= link_to "Signed in", new_user_session_path %> in order to use myChat!
  </p>
  <% end %>
</div>
</div>