<div class="messagepage" style="height:250px; width:800px; border:solid 1px">
<% if current_user %>
<div class="jumbotron">
  <h1 style="text-align: center">myChat!</h1>
  <div class="well" id="chatbox" style="height:250px; border: solid 1px #222222; overflow-y: scroll">
    <% @messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>
  
  <%= form_with model: @message do |f| %>
  <div class="input-group mb-3">
    <%= f.text_field :body, placeholder: "Say something...", class: "form-control" %>
    <div class="input-group-append">
      <%= f.submit "Send", class: "btn btn-secondary" %>
    </div>
  </div>
  <% end %>
  <% else %>
  <p style="text-align: center">
    You need to be <%= link_to "Signed in", new_user_session_path %> in order to use myChat!
  </p>
  <% end %>
</div>
</div>