<!DOCTYPE html>
<html>
  <head>
    <title>myChat</title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if user_signed_in? %>
      <%= tag :meta, name: "current-user", data: {id: current_user.id} %>
    <% end %>

  </head>
  <body>
    <!-- I found online, by rendering things like navbar, footer, alerts, i am not flooding my code with code.. Brett -->
  <div class="empty">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>
    <%= render 'layouts/userlist' %>
    <%= render 'layouts/weather' %>
    <%= render 'layouts/footer' %>
  </div>
    <%= yield %>
  </body>
</html>
