<!DOCTYPE html>
<html>
  <head>
    <title>myChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- I found online, by rendering things like navbar, footer, alerts, i am not flooding my code with shit.. Brett -->
  <div class="empty">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>
    <%= render 'layouts/footer' %>
  </div>

    <%= yield %>
  </body>
</html>
